<mat-grid-list cols="5" rowHeight="37.5px" class="initiativeItem" [class.blue]="Vm.IsActive">
  <mat-grid-tile
  [colspan]="3"
  [rowspan]="1">
    {{Vm.Item.DisplayName}}
    <button mat-icon-button class="w30" (click)="OnClickRemoveCharacter()">
      <mat-icon class="fas fa-times-circle"></mat-icon>
    </button>
  </mat-grid-tile>
  <mat-grid-tile
  [colspan]="1"
  [rowspan]="1">
    {{Vm.Item.InitiativeCount}}
  </mat-grid-tile>
  <mat-grid-tile
  *ngIf="Vm.Item.ShowHp" 
  [colspan]="1"
  [rowspan]="1">
    <input type="number" class="smallNum" [(ngModel)]="Vm.Item.CurrentHp">/{{Vm.Item.MaxHp}}
  </mat-grid-tile>
  <ng-container *ngFor="let status of Vm.Item.Status; let i = index">
    <mat-grid-tile
    [colspan]="2"
    [rowspan]="1"
    (click)="OnClickRemoveStatus(i)">
      {{status}}
    </mat-grid-tile>
  </ng-container>  
  <mat-grid-tile
  [colspan]="3"
  [rowspan]="1">
    <ng-container *ngIf="!Vm.IsAddingStatus">
      <button mat-icon-button (click)="OnClickAddStatus()">
        <mat-icon class="fas fa-plus"></mat-icon>
      </button>
    </ng-container>
    <ng-container *ngIf="Vm.IsAddingStatus">
      <mat-form-field style="max-width:100px;">
        <input 
          matInput 
          type="text" 
          appearance="outline" 
          (keydown)="OnPressEnter($event)" 
          [(ngModel)]="Vm.NewStatus"
          [attr.data-index]="Vm.Index"/>      
      </mat-form-field>
      <button mat-icon-button class="w30" (click)="OnClickSaveStatus()">
        <mat-icon class="fas fa-check"></mat-icon>
      </button>
      <button mat-icon-button class="w30" (click)="OnClickCancelAddStatus()">
        <mat-icon class="fas fa-times-circle"></mat-icon>
      </button>
    </ng-container>
  </mat-grid-tile>
</mat-grid-list>