.mat-grid-tile{
  background-color: lightgray;
}

.btn-tile{
  background-color: lightcoral;
}

.initiativeItem{
  max-width: 300px;
}

.blue .mat-grid-tile {
  background-color: aquamarine;
}

.smallNum {
  width: 30px;
}

.w30 {
  width: 30px;
}