.pcSelect {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.mat-checkbox {
  margin: 10px;
}

.trackerSetup {
  max-width: 500px;
  background-color: slateblue;
}

.monsterSelect {
  margin-bottom: 10px;
}